<h1> Photo Details </h1>

<dl>
  <dt>
    Image
  </dt>
  <dd>
    <td><img src="<%=@the_photo.image %>" style="width:250px;"></td>
  </dd>
    <dt>
    Caption
  </dt>
  <dd>
    <td><%=@the_photo.caption %></td>
  </dd>
      <dt>
    Owner
  </dt>
  <dd>
    <td><%=@the_photo.poster.username %></td>
  </dd>
        <dt>
    Posted
  </dt>
  <dd>
    <td><%=@the_photo.created_at %></td>
  </dd>
  <dt>
    Edit photo
  </dt>
  </dl>

<form action="/update_image_record/<%= @the_photo.image%>" method="post">

<label for="image">Image</label>
<input id="image" type="text" name="the_image" value="<%= @the_photo.image %>">
<label for="caption">Caption</label>
<textarea id="caption" type="text" name="the_caption" value="<%= @the_photo.caption %>"></textarea>

<button type="submit" class="btn btn-primary">
Update photo
</button>
</form>

  <dt>
    Delete photo
  </dt>
   <dd>
      <a href="/delete_photo/<%= @the_photo.id %>">
        Delete this photo
      </a>
    </dd>


<h1>Comments</h1>

  <table border="1">
  <tr>
  <th>Commenter </th>
  <th>Comment </th>
  <th>Posted </th>
  </tr>

<% @list_of_comments.each do |a_comment| %>
    <tr>
  <td><%=a_comment.commenter.username%></td>
  <td><%=a_comment.body %></td>
  <td><%=a_comment.created_at %></td>
  </tr>
  <%end%>
</table>

<div>
<h4>Add a new comment</h4>
</div>

<form action="/add_comment/<%= @the_photo.id%>" method="post">

<label for="id">Photo ID</label>
<input id="id" type="text" name="the_photo_id" value="<%= @the_photo.id %>">
<label for="author">Author ID</label>
<input id="author" type="text" name="the_author" placeholder="Enter your author ID">
<label for="comment">Comment</label>
<textarea id="comment" type="text" name="the_comment" placeholder="Enter a comment..."></textarea>

<button type="submit" class="btn btn-primary">
Add comment
</button>
</form>
